@charset "UTF-8";
 
/* CSSリセット */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,
strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,
figure,footer,header,hgroup,menu,nav,section,summary,time,mark,
audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;
vertical-align:baseline;background:transparent;font-weight:normal;}
body{line-height:1}article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{display:block}
ul{list-style:none}blockquote,q{quotes:none}blockquote:before,
blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;
font-size:100%;vertical-align:baseline;background:transparent}
del{text-decoration:line-through}abbr[title],dfn[title]
{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;
margin:1em 0;padding:0}input,select{vertical-align:middle}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Ropa+Sans');
body{
    background: #333333 ;
    color: #666666;
	}

.prot1 {
color:#ffcc99;
font-size: 20px;}

.prot2 {
color:#ffe;
font-size: 20px;}

#wrapper{
width: 85%;
margin: 0 auto;
}

#return{
posiotion: static;
top:150px;
}
#return h2{
	font-family: 'Noto Sans', sans-serif;
	text-align: center; 
	color:#4689FF;
	font-size:18px;
}

#title1{
	position: static;
	top: 185px;
}

#title1 h1{
	font-family: 'Ropa Sans', sans-serif;
	text-align: center; 
	font-size: 80px;
	color:#BBD0F0
}

#title2{
	position: static;
	top: 200px;
}

#title2 h2{
	font-family: 'Noto Sans', sans-serif;
	text-align: center;
	color:#DDFFFF;
	font-size: 30px;
}

#title2 h3{
	font-family: 'Noto Sans', sans-serif;
	text-align: center; 
	color:#4689FF;
	font-size:18px;
}

#mybanner{
	position: static;
	top: 250px;
	wide:50px;
}

#mybanner h3{
	font-family: 'Noto Sans', sans-serif;
	text-align: center;
	color:#BBBBBB;
	font-size: 15px;
}

#links{
	position: static;
	top: 450px;
	wide:80%;
}

#links h3{
	font-family: 'Noto Sans', sans-serif;
	text-align: center;
	color:#BBBBBB;
	font-size: 15px;
}

a{
	color:#F60;
padding-bottom:1px;
text-decoration:none;
	}

a:hover{
	color:#F60;
	}

#fotter{
		font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
}

#banner{
    width: 234px;
	position: static;
    }
