@charset "UTF-8";
 
/* CSSリセット */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,
strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,
figure,footer,header,hgroup,menu,nav,section,summary,time,mark,
audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;
vertical-align:baseline;background:transparent;font-weight:normal;}
body{line-height:1}article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{display:block}
ul{list-style:none}blockquote,q{quotes:none}blockquote:before,
blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;
font-size:100%;vertical-align:baseline;background:transparent}
del{text-decoration:line-through}abbr[title],dfn[title]
{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;
margin:1em 0;padding:0}input,select{vertical-align:middle}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Ropa+Sans');
body{
    background: #333333;
    color: #666666;
	}
#wrapper{
width: 80%;
margin: 0 auto;
}
#title1{
	position: static;
	top: 185px;
}

#title1 h1{
	font-family: 'Ropa Sans', sans-serif;
	text-align: center; 
	font-size: 80px;
	color:#BBD0F0
}

#title2{
	position: static;
	top: 200px;
}

#title2 h2{
	font-family: 'Noto Sans', sans-serif;
	text-align: center;
	color:#DDFFFF;
	font-size: 30px;
}

#title2 h3{
	font-family: 'Noto Sans', sans-serif;
	text-align: center; 
	font-size:15px;
}

#navi{
	position: static;
	top: 250px;
	wide:50px;
}

#navi h2{
	font-family: 'Noto Sans', sans-serif;
	text-align: center;
	color:#F60;
	font-size: 30px;
}

a{
	color:#F60;
	text-decoration:none;
padding-bottom:1px;
	}

a:hover{
	color:#F60;
	}

#fotter{
		font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
}

/*-----------------------------------------
snow
-----------------------------------------*/
.snow {
	position: absolute;
	background: #FFF;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.8);
	-moz-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.8);
}